<div class="container">
  <h1>Welcome</h1>

  <!-- er + tab -->
  <% 'this is for logic, ie: .each...'  %>
  <!-- pe + tab -->
  <p><%= Time.now %></p>
  <!-- cmd + ? -->
  <%#  %>

  <!-- <a href="/path" class="btn btn-primary">Text that you see</a> -->
  <!-- lt + tab -->
  <!-- takes 2 args -> text you see, and the path -->
  <p><%= link_to 'About', about_path, class: 'btn btn-primary'  %></p>
  <p><%= link_to 'Contact', contact_path, class: 'btn btn-info'  %></p>
</div>
